@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}

.App {
  width: 40%;
  margin: auto;
  margin-top: 50px;
  padding-top: 100px;
  position: relative;
}

a,
a:visited {
  appearance: none;
  text-decoration: none;
  color: black;
}

.btn-random {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  border: none;
  display: flex;
  align-items: center;
  color: gray;
  padding: 10px;
  border-radius: 5px;
}

.btn-random > svg {
  aspect-ratio: 1/1;
  width: 20px;
  fill: gray;
  margin-right: 5px;
}

.btn-random:hover > svg {
  transform: rotate(360deg);
  transition: 4s all linear;
}

.quote {
  margin-bottom: 70px;
}

.quote > * {
  padding: 0 25px;
}

.quote > .content {
  font-size: 2rem;
  line-height: 120%;
  letter-spacing: -1px;
  border-left: 3px solid orange;
}

.quote > .others {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  transition: 1s all linear;
  border-radius: 5px;
  margin-top: 17px;
  background-color: transparent;
}

.quote > .others * {
  color: black;
  fill: black;
  transition: 1s all linear;
}

.quote > .others:hover {
  background-color: black;
}

.quote > .others:hover * {
  color: white;
  fill: white;
}

.quote .btn-next {
  width: 3%;
  aspect-ratio: 1/1;
}

.quote .info > .author {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 0;
  cursor: pointer;
}

.quote .info > .tag {
  text-transform: capitalize;
  font-size: 0.9rem;
}

.author-name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  line-height: 100%;
}
